body {
    background-color: #caebf0c6;
    margin: 0;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .header {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
  }
  
  #navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    overflow: hidden;
    background-color: #333;
    display: flex;
    align-items: center;
    
  }

  .top_navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #fff;
    box-shadow: 1px 0 2px rgba(0,0,0,0.125);
    display: flex;
    align-items: center;
  }
  
  #navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  #navbar a:hover {
    background-color: rgb(1, 1, 1);
    color: rgb(185, 205, 210);
  }
  
  #navbar a.active {
    background-color: #bd0404;
    color: white;
  }
  
  .content {
    padding: 16px;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 60px;
  }


  img {
    max-width: 100%;
    display: block;
  }

  .header-flex-table {
    display: flex;
    
    max-height: 25%;
  }
  .header-flex-element{
    max-width: 100%;
    display: block;
  }
  .flex-element{
    max-width: 100%;
    display: inline-block;
  }
  .cblock1{
    width: 60%;
    margin: 3em auto;
    padding: 2em;
    background-color: #fdfdff;
    border-radius: 0.5em;
    box-shadow: 2px 3px 7px 2px rgba(0,0,0,0.02);
  }

  h1{
    font-size: 150%;
  }
  h2{
    font-size: 100%;
  }
  #Subtitler{
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  #SubSubtitler{
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
  }

  #changingimage{
    
  }
  #Profile-pic{
    max-width: 100%;
height: 25vw;
border-radius: 20px;
  border: 10px solid #3ad8c078;
position: relative;
align-self: center;
  }





  *{
    box-sizing: border-box;
  }
  
  body{
    font-family: 'Lato', sans-serif;
    color: #202020;
  }
  
  p{
    display: none;
  }
  
  table{
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    overflow: hidden;
    
   td, th{
      border-top: 1px solid #ECF0F1;
      padding: 10px;
    }
    
    td{
      border-left: 1px solid #ECF0F1;
      border-right: 1px solid #ECF0F1;
    }
    
    th{
      background-color: #4ECDC4;
    }
    
    tr:nth-of-type(even) td{
      background-color: lighten(#4ECDC4, 35%);
    }
    
    .total{
      th{
        background-color: white;
      }
      
      td{
        text-align: right;
        font-weight: 700;
      }
    }
  }
  
    .mobile-header{
      display: none;
    }
  
  @media only screen and (max-width: 760px){
    p{
      display: block;
      font-weight: bold;
    }
    
    table{
      tr{
        td:not(:first-child), th:not(:first-child), td:not(.total-val){
          display: none;
        }
        
        &:nth-of-type(even) td:first-child{
          background-color: lighten(#4ECDC4, 35%);
        }
        &:nth-of-type(odd) td:first-child{
          background-color: white;
        }
        
        &:nth-of-type(even) td:not(:first-child){
          background-color: white;
        }
        
        th:first-child{
          width: 100%;
          display:block;
        }
        
        th:not(:first-child){
          width: 40%;
          transition: transform 0.4s ease-out;
          transform:translateY(-9999px);
          position: relative;
          z-index: -1;
        }
        
        td:not(:first-child){
          transition: transform 0.4s ease-out;
          transform:translateY(-9999px);
          width: 60%;
          position: relative;
          z-index: -1;
        }
        
        td:first-child{
          display: block;
          cursor: pointer;
        }
        
        &.total th{
          width: 25%;
          display: inline-block;
        }
        
        td.total-val{
          display: inline-block;
          transform: translateY(0);
          width: 75%;
        }
      }
    }
  }
  
  @media only screen and (max-width: 300px){
    table{
      tr{
        th:not(:first-child){
          width: 50%;
          font-size: 14px;
        }
        
        td:not(:first-child){
          width: 50%;
          font-size: 14px;
        }
      }
    }
  }

  table,
  thead,
  td {
      border-collapse: collapse;
  }
  
  .achiev table {
      background-color: white;
  }
  
  .achiev thead {
      background-color: rgb(192, 234, 255);
  }
  
  .achiev td {
      border: 1px solid black;
      border-right: 2px solid black;
      border-left: 2px solid black;
      padding: 5px
  }
  
  .achiev th {
      border: 2px solid black;
      padding: 5px
  }
  
  .achiev table {
      border: 2px solid rgb(0, 0, 0);
  }
  
  .interest_table th {
      margin: 2px;
      text-align: left;
      font-weight: normal;
      width: 20%;
  }
  
  .interest_table table {
      width: 100%
  }
  
  .items {
      margin: 1px;
      box-shadow: 1px 1px rgba(107, 188, 255, 0.15);
      height: 40px;
  }
  
  .items:not(.active_1):hover {
      background-color: rgba(107, 206, 255, 0.55);
  }
  
  .active_1 {
      background-color: rgb(107, 206, 255);
  }
  
  .non_active {
      background-color: rgb(192, 234, 255);
  }
  